<section class="content-block">
    <div class="grid-fixed">
        <div id="tutorialbody">
            <div class="flow">
                <ol class="steps clearfix">
                    <li class="bg-line"></li>
                    <li class="item scale-origin-left scale-current">1</li>
                    <li class="item">2</li>
                    <li class="item">3</li>
                    <li class="item">4</li>
                    <li class="item">5</li>
                    <li class="item">6</li>
                    <li class="item last">7</li>
                </ol>
            </div>
            <div id="loadeddiv" style="display: block;">
                <div id="tutorialbodyheader" class="clearfix">
                    <div id="lightHR" class="clearfix">
                        <h3 id="headertext" class="left">第一步, 安装WildDog实时API</h3>
                        <div style="clear:both"></div>
                    </div>
                    <div id="instructions">
                        <p style="margin-left:20px" id="step-info">首先创建一个HTML页面，然后把&lt;script&gt;代码添加到HTML的&lt;head&gt;代码里：</p>
                        <pre>
                            <code class="prettyprint prettyprinted">
                                <span class="tag">&lt;script</span>&nbsp;<span class="pln"></span><span class="atn">src</span><span class="pun">=</span><span class="atv">'https://cdn.wilddog.com/js/client/current/wilddog.js'</span><span class="tag">&gt;&lt;/script&gt;</span>
                            </code>
                        </pre>
                    </div>
                </div>
                <div id="editor" style="display:none;margin-left:20px;"></div>
            </div>
            <style>
                #advanceButton {
                    outline: none;
                    border: 1px solid rgb(230, 80, 30);
                    border-radius: 3px;
                    background-color: transparent;
                    text-align: center;
                    color: rgb(230, 80, 30);
                    padding: 0;
                    height: 35px;
                    line-height: 35px;
                    font-size: 16px;
                    margin-left: 20px;
                    width: 180px;
                    margin-top: 0;
                }
                
                #advanceButton:active {
                    outline: none;
                    box-shadow: none;
                }
                
                #advanceButton:focus {
                    outline: none;
                }
                
                #advanceButton:hover {
                    background-color: rgb(245, 195, 175);
                }
                
                .prettyprint .pln {
                    color: white;
                }
            </style>
            <div style="margin-top:40px;">
                <div style="float:left">
                    <button id="advanceButton" class="btn ui-btn-prop-highlight">继续</button>
                </div>
                <div id="advanceDiv" style="display: block;float:left;  margin-top: 3px;margin-left: 30px;">
                    <div id="errorText" class="errorText000">
                        <img src="images/314.jpg" />
                        哎哟! HTML页面有错误。请将代码copy到编辑框。
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>