<div class="greeting" style="text-align:center;margin-top:70px;">
    <p class="page-title">我们可以如何帮助到您？</p>
    <p style="font-weight: 400;
  color: #7b8994;margin-top:0px;">查找一个类别来获得你想要的帮助</p>
</div>

<style>
    .panel-default:hover {
        border-color: #A0A0A0;
    }
</style>

<div class="row" style="margin-top:60px;">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a href="/overview/guide" target="_blank" style="color:black">
            <div class="panel panel-default {{class}}" style="text-align:center;height:150px;">
                <div style="margin-top:25px">
                    <img src="/images/overview.svg" width="74" height="74"/>
                </div>
                <div style="margin-top:10px">
                        <span>概览</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a href="/5m" target="_blank" style="color:black">
            <div class="panel panel-default {{class}}" style="text-align:center;height:150px;">
                <div style="margin-top:25px">
                    <img src="/images/5m.svg" width="74" height="74"/>
                </div>
                <div style="margin-top:10px">
                        <span>5分钟快速入门</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a href="/web/quickstart" target="_blank" style="color:black">
            <div class="panel panel-default {{class}}" style="text-align:center;height:150px;">
                <div style="margin-top:25px">
                    <img src="/images/web.svg" width="74" height="74"/>
                </div>
                <div style="margin-top:10px">
                        <span>Javascript SDK</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a href="/android/quickstart" target="_blank" style="color:black">
            <div class="panel panel-default {{class}}" style="text-align:center;height:150px;">

                <div style="margin-top:25px">
                    <img src="/images/android.svg" width="74" height="74"/>
                </div>
                <div style="margin-top:10px">
                        <span>Android SDK</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a href="/ios/quickstart" target="_blank" style="color:black">
            <div class="panel panel-default {{class}}" style="text-align:center;height:150px;">

                <div style="margin-top:25px">
                    <img src="/images/ios.svg" width="74" height="74"/>
                </div>
                <div style="margin-top:10px">
                        <span>iOS SDK</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a href="/device/quickstart" target="_blank" style="color:black">
            <div class="panel panel-default {{class}}" style="text-align:center;height:150px;">

                <div style="margin-top:25px">
                    <img src="/images/iot.svg" width="74" height="74"/>
                </div>
                <div style="margin-top:10px">
                        <span>C与嵌入式 SDK</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a href="/rest/quickstart" target="_blank" style="color:black">
            <div class="panel panel-default {{class}}" style="text-align:center;height:150px;">

                <div style="margin-top:25px">
                    <img src="/images/rest.svg" width="74" height="74"/>
                </div>
                <div style="margin-top:10px">
                        <span>REST API</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a href="/rule/quickstart" target="_blank" style="color:black">
            <div class="panel panel-default {{class}}" style="text-align:center;height:150px;">

                <div style="margin-top:25px">
                    <img src="/images/rules.svg" width="74" height="74"/>
                </div>
                <div style="margin-top:10px">
                        <span>规则表达式</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a href="/auth/authentication" target="_blank" style="color:black">
            <div class="panel panel-default {{class}}" style="text-align:center;height:150px;">

                <div style="margin-top:25px">
                    <img src="/images/users.svg" width="74" height="74"/>
                </div>
                <div style="margin-top:10px">
                        <span>终端用户认证</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a href="/faq/qa" target="_blank" style="color:black">
            <div class="panel panel-default {{class}}" style="text-align:center;height:150px;">

                <div style="margin-top:25px">
                    <img src="/images/faq.svg" width="74" height="74"/>
                </div>
                <div style="margin-top:10px">
                        <span>常见问题</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a href="https://wilddog.daikeapp.com/tickets" target="_blank" style="color:black">
            <div class="panel panel-default {{class}}" style="text-align:center;height:150px;">

                <div style="margin-top:25px">
                    <img src="/images/support.svg" width="74" height="74"/>
                </div>
                <div style="margin-top:10px">
                        <span>技术支持</span>
                </div>
            </div>
        </a>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <a href="https://talks.z.wilddog.com" target="_blank" style="color:black">
            <div class="panel panel-default {{class}}" style="text-align:center;height:150px;">

                <div style="margin-top:25px">
                    <img src="/images/talks.svg" width="74" height="74"/>
                </div>
                <div style="margin-top:10px">
                        <span>社区讨论</span>
                </div>
            </div>
        </a>
    </div>
</div>

<style>
    .top-articles ul {
        list-style-type: none;
        font-size: 16px;
        line-height: 16px;
        padding-left: 20px;
    }
    
    .top-articles li {
        margin-bottom: 24px;
        line-height: 36px;
    }
    
    .moreinfo a {
        color: black;
        text-decoration: none;
    }
    
    .moreinfo a:hover {
        color: black;
        text-decoration: none;
        border-bottom: 1px solid black;
    }
    
    .row a {
        color: black;
        text-decoration: none;
    }
    
    .row a:hover {
        color: black;
        border-bottom: 1px solid black;
    }
</style>