<div class="row" style="padding-bottom:20px;">
    <div class="col-sm-3">

        <ul class="menu">
            {{#pages}} {{#is_index}} {{#files}}
            <li class="page{{#active}} active{{/active}}"><a href="/{{slug}}">{{title}}</a>
            </li>
            {{/files}} {{/is_index}} {{^is_index}}
            <li class="category">
                <h5 class="category-title">{{title}}</h5>
                <ul class="pages">
                    {{#files}}
                    <li class="page{{#active}} active{{/active}}"><a href="/{{slug}}">{{title}}</a>
                    </li>
                    {{/files}}
                </ul>
            </li>
            {{/is_index}} {{/pages}}
        </ul>

    </div>
    <div class="col-sm-9">
        <section class="content api-content" >
            {{#pages}} {{#files}} {{#active}}
            <h1> {{title}} </h1> 
            {{/active}} {{/files}} {{/pages}}
            <div class="last-updated pull-right" style="margin-top:-28px;color:#ddd">
                上次更改时间 {{last_modified}}
            </div>
            <div class="toc">
                {{{toc}}}
                <i class="wd-font">4</i>
            </div >

            {{{ content }}}

        </section>

    </div>
</div>
