<div class="row" style="padding-bottom:20px;"> 
    <div class="col-sm-3">


        <ul class="menu">

            {{#pages}}
                {{#is_dir}}

            <li class="category {{#active}} active{{/active}}">
                <h5 class="category-title"><a href="{{slug}}">{{title}}</a></h5>
                <ul class="pages">
                    {{#files}}
                    {{#is_md}}
                    <li class="page{{#active}} active{{/active}}"><a href="/{{slug}}">{{title}}</a>
                    </li>
                    {{/is_md}}
                    {{^is_md}}
                    <li class="category category2 {{#active}} active{{/active}}">
                    <h6 class="category-title category-title2"><a href="{{slug}}">{{title}}</a></h6>

                    <ul class="pages pages2">
                        {{#files}}
                        <li class="page2{{#active}} active{{/active}}"><a href="/{{slug}}">{{title}}</a>
                        </li>
                        {{/files}}
                    </ul>

                    {{/is_md}}

                    {{/files}}
                </ul>
            </li>


            {{/is_dir}}
            {{/pages}}

            </ul>


    </div>

    <div class="col-sm-9">
        <section class="content search">
            <h3 class="title">Search results for: {{search}}</h3> 
            {{#searchResults.length}}
             {{#searchResults}}
            <div class="page">
                <h2 class="page-title"><a href="/{{slug}}">{{title}}</a></h2>
                <div class="page-excerpt">{{excerpt}}</div>
            </div>
            {{/searchResults}}
            {{/searchResults.length}}
            {{^searchResults.length}}
            <p class="nothing-found">Nothing found for "{{search}}"</p>
            {{/searchResults.length}}
        </section>
    </div>
</div>