ul,ol,li{
    list-style:none;
}
.header {
    background-color: transparent;
    color: #ccc;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
}

.header .container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header a {
    color: #ddd;
}

.header a:hover {
    color: #ddd;
    text-decoration: none;
}

.header .logo{
    margin-top:32px;
}

.menu {
    margin: 40px 20px;
    padding: 0;
    list-style: none;
}

.menu .pages {
    margin: 0;
    padding: 0;
    list-style: none;
}

.menu li {
    line-height: 30px;
}

.menu .category-title {
    margin: 25px 0 10px 0;
    font-size: 12px;/*
    text-transform: uppercase;*/
}

.menu a {
    display: inline-block;
    color: #888;
    line-height: 20px;
}

.menu a:hover {
    color: #444;
    text-decoration: none;
}

.menu .active a {
    font-weight: bold;
    color: #444;
}

.page-home .header .search-form {
    display: none;
}

.home-search {
    text-align: center;
}

.home-categories {
    margin: 0 10px;
}

.home-categories .panel-heading {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
}

.home-categories .panel-heading,
.home-categories .panel .page {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
/*
.content {
    color: #555;
    margin: 40px 20px;
    padding: 40px;
    border: 1px solid #e9e9e9;
    -webkit-box-shadow: 0 1px 50px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 50px rgba(0, 0, 0, 0.1);
}
*/

.content .title {
    margin: 0 0 30px 0;
}

.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    color: #333130;
    font-weight: 300;
}

.content p,
.content ul,
.content ol,
.content pre,
.content blockquote,
.content table,
.content iframe {
    margin-bottom: 1em;
}

.content img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    background: #fff;
    padding: 4px;
    border: 1px solid #D6D6D6;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.content .page-meta {
    font-size: 85%;
    color: #999;
    margin-top: 50px;
}

.content .page-meta a {
    color: #999;
    border-bottom: 1px dotted #999;
}

.content .page-meta a:hover {
    color: #428BCA;
    text-decoration: none;
}

.footer .copyright {
    font-size: 85%;
    color: #999;
    /*    margin: 0 20px 40px 0;*/
}

.error {
    padding: 0 20px;
}
.header-logo .z-wd-font{
    color:#fff;
    line-height:0;
    float:left;
    padding-top:54px;
    padding-left:10px;
    margin-top:0;
}
@media only screen and (max-width: 767px) {
    .home-search .form-group {
        margin-bottom: 0;
    }
    #home-search {
        margin-bottom: 10px;
    }
}
/*需要替换的部分*/

body {
    color: #666;
    font: 12px/1.5 arial, "Microsoft Yahei", "Hiragino Sans GB", "WenQuanYi Micro Hei", sans-serif !important;
    height: 100%;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    /*width: 980px;*/
    margin: 0 auto;
}

i {
    font-family: wd-icon;
    font-style: normal;
}

.header {
    padding-top:20px;
    padding-bottom:20px;
    border-bottom: 1px solid rgb(44, 44, 44);
    background-color: rgb(44, 44, 44);
}

.header-logo i {
    font-size: 120px;
    color: rgb(232, 77, 30);
    /* margin-left: 10px; */
    /* height: 20px; */
    /* position: absolute; */
    /* top: 26px; */
    /* left: 31px; */
    
    margin-top: 17px;
}

.jumbotron {
    background-color: transparent;
    margin-bottom: 0;
}

.input-lg {
    height: 35px;
    width: 300px !important;
    line-height: 20px;
    border-radius: 17px;
    font-size: 14px;
    color: rgb(229, 229, 229);
    padding-left: 37px;
}

.search-find {
    font-size: 16px;
    color: rgb(204, 204, 204);
    position: relative;
    left: 30px;
    top: 5px;
}

.btn-lg {
    border-color: rgb(204, 204, 204);
    padding: 0;
    width: 64px;
    border-radius: 15px;
    height: 29px;
    position: relative;
    left: -70px;
    font-size: 16px;
    background-color: transparent;
    color: rgb(204, 204, 204);
}

.btn-lg:hover {
    color: #ffffff;
    background-color: rgb(219, 75, 34);
    border: none;
}

.home-categories .panel-heading {
    font-size: 16px;
    color: rgb(102, 102, 102);
}

.panel-heading {
    padding: 15px 12px
}

.panel-default>.panel-heading {
    background-color: rgb(229, 229, 229);
}

a {
    color: #4C4545;
}

a:hover {
    color: #4C4545;
}

.home-categories {
    height: 434px !important;
}

.header .search-form {
    margin-right: 0;
    margin-top: 7px;
}

.search-form a {
    text-decoration: none !important;
}

.form-control1 {
    border: 1px solid rgb(204, 204, 204);
    border-radius: 10px;
    width: 139px !important;
    height: 21px;
    font-size: 12px;
    color: rgb(204, 204, 204);
    padding-left: 30px;
    line-height: 19px;
}

.form-control1:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

.search-find000 {
    font-size: 16px;
    color: rgb(204, 204, 204);
    position: relative;
    left: 25px;
    top: 4px;
}

h5 {
    font-weight: 500;
}

.menu li {
    line-height: 25px;
    padding-left: 10px;
}

.menu a {
    color: rgb(230, 80, 30);
}

.menu {
    margin: 0;
    margin-top: 84px;
}

.content-title {
    font-size: 20px;
    font-weight: 500;
    margin-top: 47px;
    border-bottom: 1px solid rgb(229, 229, 229);
    padding-bottom: 8px;
}

.content {
    margin-top: 32px;
}

pre {
    background-color:#fff;
    margin-left:148px;
}

h1 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    padding-top:35px;
}

h2 {
    font-size: 16px;
    margin: 0;
    padding-top:35px;
}

h3 {
    font-size: 16px;
    /*    font-weight: bold;*/
    
    margin: 0;
    margin-top: 16px;
    margin-left: 20px;
}

h4,h6 {
    font-size: 14px;
    /*    font-weight: bold;*/
    
    margin: 0;
    margin-left: 20px;
}

pre {
    margin-top: 13px;
    margin-left:118px;
}

ul {
    padding-left: 80px;
}
hr {
    margin-top: 40px;
    margin-bottom: 20px;
}
/*
.last-updated {
    margin-right: 20px;
}
*/

.content {
    /*margin-top:84px;*/
}

.content .page-meta {
    /*border-bottom: 1px solid rgb(229 ,229 ,229);*/
    
    padding-bottom: 27px;
}

.footer {
    padding: 0;
}

.copyright {
    float: right;
    margin: 0;
    margin-bottom: 20px;
}
.header-logo sup {
    position: absolute;
    left: 120px;
    top: 7px;
    color: rgb(255, 255, 255);
    padding: 7px 2px;
    background-color: rgb(230, 230, 230);
    border-radius: 3px;
}

.content h2 {
   padding-top:70px;
}

.faq-title {
    font-size: 20px;
    margin-bottom: 24px;
    margin: 0;
    margin-top: 50px;
    margin-left: 20px;
}

.help-search-input-wrapper {
    position:relative;
    height: 40px;
    margin-top: 12px;
}

.search-mag-glass {
    display: inline-block;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    padding: 0;
    float: right;
    margin: 0 0 0 -10px;
    background-color: #fff;
    -webkit-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -ms-border-bottom-right-radius: 5px;
    -o-border-bottom-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-radius:5px;
}

#search-input {
    border: 0;
	padding-left: 10px;
    vertical-align: top;
    width:100%;
    height: 40px;
    font-size: 15px;
    outline: none;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}
/* mac add */

html,
body,
#wrap {
    height: 100%;
}

body > #wrap {
    height: auto;
    min-height: 100%;
}

#main-body {
    padding-bottom: 150px;
}
/* 必须使用和footer相同的高度 */

footer {
    border-top: 1px solid rgb(204, 204, 204);
    position: relative;
    height: 20px;
    clear: both;
    margin: -40px auto 0 auto;
    text-align: center;
}
/* Hides from IE-mac \*/
.home-categories a {
    color: black;
    text-decoration: none;
}

.home-categories a:hover {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid black;
}

#footer {
    bottom: 0;
    margin-bottom: 15px;
    text-align: center;
    border-top: 1px solid rgb(232, 225, 224);
    margin-left: auto;
    margin-right: auto;
}

.footer-container {
    margin-top: 10px;
}

.footer-container a {
    font-size: 12px;
    color: rgb(153, 147, 145);
    margin-left: 26px;
}

.footer-container a:hover {
    text-decoration: none;
    border-bottom: 1px solid rgb(153, 147, 145);
}
/*响应式开始*/
.greeting .page-title{
    font-size:30px;
    line-height:36px;
}
.searchbar{
    float: right;
    width:100%;
}
#search{
    position:absolute;
    top:0;
    right:0;
}
.knowledge{
    color:#ddd;
    font-size: 25px;
    margin-left: 10px;
    margin-top:35px;
    float:left
}
.flow{
    position: absolute;
    right:0;
    top:60px;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.steps{
    position:relative;
    display:inline-block;
    padding-left:0;
    width:auto;
}
.steps .bg-line{
    position:absolute;
    left:0;
    top:50%;
    z-index:-1;
    height:1px;
    background-color:#ddd;
    width:100%;
}
.steps .last{
    margin-right:0;
}
.item{
    position:relative;
    float:left;
    margin-right:20px;
    width:36px;
    height:36px;
    background-color:#fff;
    border-radius:50%;
    border:1px solid #ddd;
    font-size:16px;
    color:#666;
    line-height:36px;
    text-align:center;
    cursor:pointer;
}
.scale-current{
    border:0;
    background-color:#ccc;
    color:#fff;
}
#tutorialbody{
    padding-left:0;
    padding-right:0;
}
.content-block pre{
    margin-left:10px;
}
/*知识库api文档样式改版*/
.content{
    font-size:14px;
}
.content h3{
    padding-bottom:24px;
}
.toc>ul{
    overflow:hidden;
}
.toc>ul>li>ul{
    overflow: hidden;
}
.toc>ul>li li{
    float: left;
    width:50%;
    box-sizing:border-box;
    padding-right:20px;
    word-break:break-all;
    padding-left:40px;
}
.toc>ul>li>a{
    display:block;
    font-size:18px;
    color:#333;
    line-height:30px;
    padding-bottom:6px;
}
.toc ul{
    overflow:hidden;
    padding-left:0;
    line-height:24px;
}
.content>p{
    margin:0;
    font-size:14px;
}
.content>p,.content>ul{
    padding-left:118px;
}
.content>ul{
    line-height:24px;
    margin-bottom:0;
}
.content>h6{
    width:15%;
    text-align:right;
    color:#999;
    position: relative;
    margin-left:0;
    top:18px;
}
.hljs{
    padding:0;
}
.content hr{
    display:none;
}
blockquote{
    border:0;
}
.content blockquote{
    padding:0;
    margin-left:20px;
    margin-top:30px;
    margin-bottom:50px;
    margin-top:40px;
}
.content .table{
    border:1px solid #e5e5e5;
    font-size:14px;
    margin:0;
}
.content>.table{
    width:auto;
    margin-top:14px;
    margin-bottom:20px;
    margin-left:40px;
}
.table > tbody > tr > td,.table > thead > tr > th{
    border-top:0;
}
.table > thead > tr > th{
    border:0;
}
.table tr{
    width:100%;
    font-weight:normal;
}
.table thead{
    border-bottom:1px solid #e5e5e5;
    background-color:#fafafa;
}
blockquote table td{
    width:50%;
}
.content p a,#quickstart>ol a,#guide-content>ul li a{
    color:#e84d1e;
}
.content p a:hover, #quickstart>ol a:hover,#guide-content>ul li a:hover{
    text-decoration:none;
    border-bottom:1px solid #e84d1e;
}
.toc>ul>li{
    padding-bottom:35px;
}
.toc a{
    font-size:14px;
}
.toc>ul>li li a:hover{
    text-decoration:none;
    border-bottom:1px solid #666;
}
.content p>code,.content ul code,.content table code,.content ol code,.content h3 code{
    background:none;
    font-style:italic;
    color:#333;
}
/*更改开发向导所有页面样式*/
.guide-content h2,#quickstart h2{
    font-size:18px;
    font-weight:500;
    padding-bottom:24px;
}
.api-content h2{
    padding-bottom:14px;
    padding-left:40px;
}
.api-content{
    display:none;
}
.guide-content>h4,.guide-content>h3,#quickstart>h4,#quickstart>h3{
    padding-left:18px;
    position: static;
    width:100%;
    text-align:left;
    color:#333;
    padding-bottom:0;
    margin-top:32px;
}
.guide-content>p,#quickstart>p,#quickstart>ol{
    padding-top:14px;
    padding-left:38px;
}
.guide-content>pre,#quickstart>pre{
    margin-left:38px;
}
.guide-content h4,#quickstart h4{
    font-size:16px;
    margin-top:32px;
    margin-bottom:24px;
}
h4>code{
    background:none;
    color:#333;
    padding:0;
}
.guide-content p>strong,#quickstart p>strong{
    display:block;
    margin-top:20px;
    margin-bottom:10px;
}
.guide-content .table,#quickstart .table{
    margin-left:38px;
    margin-top:14px;
    margin-bottom:24px;
}
.guide-content pre,#quickstart pre{
    margin-left:38px;
}
.guide-content blockquote,#quickstart blockquote{
    margin-left:0;
    margin-bottom:0;
}
.guide-content blockquote p,#quickstart blockquote p{
    padding-left:38px;
}
.alert{
    padding:0;
    padding-top:32px;
    padding-left:38px;
    margin:0;
}

/*增加点击显示剩余目录效果*/
.toc{
    position: relative;
    padding-bottom:30px;
    height:220px;
    overflow:hidden;
    display:none;
}
.wd-font{
    font-family:"wd-icon";
}
.toc .wd-font{
    display:block;
    position: absolute;
    bottom:0;
    left:0;
    background-color:#fff;
    font-style:normal;
    color:#e84d1e;
    font-size:20px;
    height:45px;
    width:100%;
    border-bottom:1px solid #e5e5e5;
    line-height:45px;
    text-align:center;
    cursor:pointer;
}
/*返回顶部按钮*/
.back-top-ab{
    float:right;
    -moz-user-select: none; 
    -webkit-user-select: none; 
    -ms-user-select: none; 
    -khtml-user-select: none; 
    user-select: none;
}
.back-top{
    position:fixed;
    bottom:100px;
    width:40px;
    height:40px;
    background-color:#999;
    text-align:center;
    color:#fff;
    line-height:40px;
    font-size:22px;
    cursor:pointer;
    border-radius:50%;
    display:none;
}
.toc{
    padding-top:35px;
}
.api-content h2{
    padding-top:35px;
}
#quickstart h2:first-child,#guide-content h2:first-child{
    padding-top:35px;
}
.top-heading{
    font-size:22px;
    font-weight:500;
    padding-bottom:15px;
    border-bottom:1px solid #e5e5e5;
    color:#333;
}
#RuleDataSnapshot{
    padding-bottom:15px;
}
.content blockquote>p{
    font-size:14px;
    border-left:4px solid #e5e5e5;
    margin-bottom:24px;
}
.guide-content p{
    padding-left:38px;
}
.content .pull-right{
    font-size:12px;
}
.heading{
    margin-top:32px;
}
@media screen and (min-width:1200px){
    .container{
        max-width:980px;
        padding-left:0;
        padding-right:0;
    }
    footer{
        max-width:980px;
    }
}
@media screen and (max-width:767px){
    footer{
        width:100%;
    }
    .wilddog-gov{
        display:none;
    }
    .text-wilddog{
        display:none;
    }
    .greeting .page-title{
        font-size:20px;
    }
    .header .link-index{
       font-size:16px;
       margin-top:12px;
       height:40px;
       line-height:40px;
    }
    .header .logo{
        margin-top: 0;
    }
    .knowledge{
        height:40px;
        line-height:64px;
        font-size:14px;
        margin-top:0;
        margin-left:6px;
    }
    .header-logo{
        margin-top:12px;
        height:40px;
        line-height:40px;
    }
    .footer-container a{
        margin-left:5px;
    }
    .back-top{
        background:none;
    }
    .back-top .wd-font{
        display:block;
        width:30px;
        height:30px;
        line-height:30px;
        font-size:12px;
        background-color:rgba(0,0,0,.6);
        border-radius:50%;
    }
}
@media screen and (max-width:479px){
    .help-search-input-wrapper{
        width:100%;
        padding-left:0;
    }
    .content .table tr th,.content .table tr td{
        width:33.333%;
    }
    .table > tbody > tr > td,.table > thead > tr > th{
        padding-left:10px;
        padding-top:10px;
        word-break:break-word;
    }
    .guide-content .table,#quickstart .table{
        margin-left:0;
        width:100%;
    }
}